.post {
  background-color: #fff;
  max-width: 700px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  .post__header {
    display: flex;
    align-items: center;
    padding: 1rem;
    .post__avatar {
      width: 30px ;
      height: 30px;
    }
    h3 {
      margin-left: 10px;
      font-weight: 300;
    }
  }
  .post__image {
    width: 100%;
    object-fit: contain;
  }

  .post__username__caption {
    font-weight: normal;
    padding: 1rem;
  }
  .post__comments {
    padding: 0.1rem 1rem;
    margin-top: 1rem;
    p {
      margin-bottom: 0.7rem;
    }
  }
  .post__comment {
    display: flex;
    flex-direction: row;
    width: 99%;
    margin: auto;
    .post__comment__input {
      flex: 11;
      padding: 0.3rem;
      margin: 0.5rem 0.9rem !important;
      margin: 0 1rem 0.2rem 1rem;
      border: none;
      outline: none;
      background-color: #fff;
    }
    .post__comment__button {
      flex: 1;
      background: rgb(54, 52, 52);
      background: linear-gradient(352deg, rgba(97, 94, 94, 0.928) 0%, rgb(0, 0, 0) 100%);
      border-radius: 3px;
      // padding: 3px;
      color: #fff;
      // margin: 0 1rem;
      border: none;
      outline: none;
    }
  }
}